body {
	margin: 0px;
	padding: 0px;
	font-size: 0;
}
#container {
	width: 100%;
	font-size: 0;
}

.all, .noData, .onlyConnection {
	width: 100%;
	background: green; 
	font-size: 0;
	flex-direction: row;
	display: inline-flex;
}

.all > div, .noData > div, .onlyConnection > div {
	height: 100%;
}

#connections {
	background: lightblue;
}

#tables {
	background: red;
}

#data {
	background: grey;
}

/* all */

.all #connections {
	width: 20%;
}

.all #tables {
	width: 20%;
}

.all #data {
	width: 60%;
}

/* noData */

.noData #connections {
	width: 20%;
}

.noData #tables {
	width: 80%;
}

.noData #data {
	display: none;
}

/* onlyConnection */

.onlyConnection #connections {
	width: 100%;
}

.onlyConnection #tables {
	display: none;
}

.onlyConnection #data {
	display: none;
}