:root {
	--clr-border-inner: #DEDEDE;
}

:focus {
	outline: none !important;
}

body {
	margin: 0px;
	padding: 0px;
	cursor: default;
}

#app {
	width: 1060px;
	height: 660px;
	background-color: #757575;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 1000px) {
	#app {
		display: none;
	}
}

#container {
	width: 100%;
}

#container h1 {
	margin: 0;
	padding: 10px;
}

.all, .noData, .onlyConnections {
	width: 100%;
	flex-direction: row;
	display: inline-flex;
}

.all > div, .noData > div, .onlyConnections > div {
	height: 100%;
}

.all > div:nth-child(1), .noData > div {
	border-right: 1px solid var(--clr-border-inner);
}

.noData > div:nth-child(2) {
	border-left: 1px solid var(--clr-border-inner);
}

.all > div:nth-child(2) {
	border-left: 1px solid var(--clr-border-inner);
	border-right: 1px solid var(--clr-border-inner);
}

.all > div:nth-child(3) {
	border-left: 1px solid var(--clr-border-inner);
}

.content {
	height: 100%;
	position: relative;
}

#connections {
	background-color: #D5D5D5;
	color: #282828;
}

#tables {
	background-color: white;
}

.status-bar {
	bottom: 0;
	right: 0;
	position: absolute;
	padding-right: 10px;
	padding-bottom: 10px;
}

.status-bar button {
	padding: 4px;
	padding-left: 2px;
	padding-right: 2px;
	border: none;
	background: none;
}

.status-bar button:hover, .status-bar i:hover {
	color: gray;
	cursor: pointer;
}

/* all */

.all #connections {
	width: 20%;
	box-sizing: border-box;
}

.all #tables {
	width: 20%;
	box-sizing: border-box;
}

.all #data {
	width: 60%;
	box-sizing: border-box;
}

/* noData */

.noData #connections {
	width: 20%;
	box-sizing: border-box;
}

.noData #tables {
	width: 80%;
	box-sizing: border-box;
}

.noData #data {
	display: none;
}

/* onlyConnections */

.onlyConnections #connections {
	width: 100%;
	box-sizing: border-box;
}

.onlyConnections #tables {
	display: none;
}

.onlyConnections #data {
	display: none;
}

/* connections */

#connections .connection, #tables .table {
	min-height: 2em;
	line-height: 2em;
	padding: 2px 10px;
}

#connections .connection:hover,
#connections .connection.active,
#tables .table:hover,
#tables .table.active {
	background-color: #2066D9;
	color: white;
	font-weight: bolder;
}

/* POP UP FADE IN*/
.show {
	opacity: 1 !important;
	-webkit-animation: fadeIn 0.4s;
	animation: fadeIn 0.4s
}

.hide {
	opacity: 0 !important;
	-webkit-animation: fadeOut 0.2s;
	animation: fadeOut 0.2s
}

@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

@-webkit-keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity:0;}
}

.empty-container {
	display: none;
	height: 100%;
	width: 100%;
	margin: 0;
	z-index: 1;
}

.empty-area {
	color: grey;
	width: 100px;
    margin: auto;
    top: 50%;
    position: relative;
}

.empty-container.active {
	display: block;
}

.content-container.inactive {
	display: none;
}