body {
	margin: 0px;
	padding: 0px;
}
#container {
	width: 100%;
}

.all, .noData, .onlyConnections {
	width: 100%;
	background: green; 
	flex-direction: row;
	display: inline-flex;
}

.all > div, .noData > div, .onlyConnections > div {
	height: 100%;
}

#connections {
	background: lightblue;
}

#tables {
	background: red;
}

#data {
	background: grey;
}

/* all */

.all #connections {
	width: 20%;
}

.all #tables {
	width: 20%;
}

.all #data {
	width: 60%;
}

/* noData */

.noData #connections {
	width: 20%;
}

.noData #tables {
	width: 80%;
}

.noData #data {
	display: none;
}

/* onlyConnections */

.onlyConnections #connections {
	width: 100%;
}

.onlyConnections #tables {
	display: none;
}

.onlyConnections #data {
	display: none;
}

/* connections */

#connections .connection, #tables .table {
	min-height: 2em;
	margin-bottom: 2px;
	padding: 2px;
}

#connections .connection:hover,
#connections .connection.active,
#tables .table:hover,
#tables .table.active {
	background-color: green;
}