#data {
    background-color: white;
}

#data .dataArea {
    display: flex;
}

#data .dataArea #tableData {
    flex-grow: 1;
}

#tableData table {
    width: 100%;
    max-width: 600px;
    max-height: 575px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    background: transparent;
}

#tableDataOptionsButton > i {
    padding-top: 10px;
    min-width: 20px;
    text-align: center;
}
#tableDataOptionsButton > i:hover {
   cursor: pointer;
    color: gray;
}

#tableDataOptions {
    min-width: 0px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}


#tableDataOptions .popuptext > div {
    padding-left: 5px;
    float: left;
    text-align: left;
    width: 100%;
}

#tableDataOptions .popuptext {
    opacity: 0;
    width: 140px;
    margin-left: -165px;
}

#tableDataOptions .popuptext::after {
    left: 100%;
    border-color: transparent;
    border-left-color: #fff;
    border-width: 10px;
    top: 8px;
}

#dataFilterPopup.popuptext {
    opacity: 0;
    width: 420px;
    margin-top: -198px;
    margin-left: -295px;
    min-height: 150px;
}

#dataFilterPopup.popuptext::after {
    right: 18px;
}

#dataOther.popuptext {
    opacity: 0;
    width: 140px;
    margin-top: -136px;
    margin-left: -17px;
    border-bottom-right-radius: 0px;
    height: auto;
}

#dataOther.popuptext::after {
    right: 0px;
}

#dataOther.popuptext > .content, #dataFilterPopup.popuptext > .content {
    padding: 5px;
}

#dataOther.popuptext > .content > button,
#dataFilterPopup.popuptext > .content > button {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    background: #e1e1e1;
    color: #282828;
    width: 100%;
    border-radius: 3px;

}

#dataOther.popuptext > .content > button:hover,
#dataFilterPopup.popuptext > .content > button:hover  {
   background-color: #2098d1;

}

#dataFilterPopup.popuptext > .content >textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

#dataKeyLink.popuptext {
    margin-top: 5px;
    min-height: 100px;
}

#dataKeyLink.popuptext::after {
    bottom: 100%;
    top: initial;
    left: 50%;
    border-color: transparent;
    border-bottom-color: #555;
    border-width: 10px;
    margin-left: -10px;
}


#dataKeyLink {
    position: fixed;
    transform: translate(-50%, 0%);
    width: 420px;
}
#dataKeyLink > .content > h3 {
    text-align: left;
    margin: 0;
    padding-bottom: 10px;
}
#dataKeyLink > .content {
    padding: 5px;
}
#dataKeyLink > .content > table > tr > th, #dataKeyLink > .content > table > tr > td{
   background: white;
}

#dataKeyLink > .content > table > tr > th, #dataKeyLink > .content > table > tr > td{
    border: 1px solid black;
}


#data .name {
    font-size: 25px;
}

#tableData tr {
    background: white;
}

#tableData th, #tableData td {
    text-align: left;
    border: 1px solid black;
}

#tableData th, #tableData td {
    padding: 5px;
}

#tableData td input {
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
}

#tableData td.edit {
    background: #ffffff;
    color: #757575;
}

#tableData td.edit:hover,
#tableData td.viewConnection:hover {
    background: #2066D9;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

#tableData tr th> :nth-child(2) {
    padding-left: 5px;
}

#tableData tr th> :nth-child(2):hover, #tableData tr th> :nth-child(3):hover{
    color: grey;
    cursor: pointer;
}

.removeDataRow > div > #connections > *, .removeDataRow > div > #tables > *{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


.removeDataRow #data {
   background: #383838;
}

.removeDataRow #data .dataArea .table table tr:not(:first-child):hover{
    background: #2066D9;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

.removeDataRow #data .dataArea .table table td {
    background: transparent;
}

.removeDataRow .status-bar button:hover{
    color: black;
}
.removeDataRow .status-bar .cancel{
    visibility: visible;
    background: white;
}
.removeDataRow .status-bar button.cancel:hover{
    visibility: visible;
    background: white;
    color: gray;
}

.status-bar .cancel{
    visibility: hidden;
}